body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	background-image: url('assets/background.jpg');
	margin: 0;
}
.text-white {
	color: white;
}
.warning {
	background-color: #777777;
	width: 100%;
	top: 15%;
	z-index: 10;
	color: white;
	padding: 1rem 0;
	display: flex;
	justify-content: center;
}
.warning > div {
	width: 90%;
}
.warning h1 {
	display: flex;
	font-weight: 400;
	font-size: 2rem;
	align-items: center;
}
h1 svg {
	width: 8rem;
	height: 8rem;
	margin-right: 0.5rem;
}
.browsers {
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: white;
	width: 100%;
}
.browsers .browser {
	opacity: .77;
	padding: 0 1rem;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	min-width: 150px;
}
.browser.chrome {
	background-color: #EBBA4A;
	flex-grow: 1;
	flex-basis: 100%;
}
.browser.firefox {
	background-color: #E8A03E;
}
.browser.edge {
	background-color: #5AC6FA;
}
.browser.safari {
	background-color: #459CE3;
}
.browser.opera {
	background-color: #E3634D;
	flex-grow: 1;
	flex-basis: 100%;
}
.browser svg {
	width: 4rem;
	height: 4rem;
}
.browser .info {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	justify-content: space-between;
	margin-bottom: 0;
	padding: 10px 0;
}
.info h2 {
	font-size: 1rem;
	margin-bottom: 0;
}
.info h3 {
	font-size: 0.875rem;
}
.button {
	display: inline-flex;
	background-color: #929292;
	color: white;
	border: 1px solid white;
	padding: 10px 15px;
	text-decoration: none;
}
.info .button {
	background-color: transparent;
	display: none;
}
.info .download {
	width: 3rem;
	height: 3rem;
}
.description h3 {
	margin-top: 5px;
}
@media (min-width: 640px) {
	.warning {
		position: absolute;
	}
	.warning > div {
		width: 60%;
	}
	h1 svg {
		width: 3rem;
		height: 3rem;
	}
	.browsers {
		height: 100vh;
		flex-direction: row;
	}
	.browser.chrome {
		justify-content: end;
	}
	.browser .info {
		flex-direction: column;
		justify-content: center;
		margin-bottom: 50px;
	}
	.browser svg {
		width: 6rem;
		height: 6rem;
	}
	.browser.opera {
		justify-content: start;
	}
	.info .button {
		display: block;
	}
	.info .download {
		display: none;
	}
	.description {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}